body {
  text-align: center;
  font-family: Helvetica;
  background-color: #fff0bc;
  margin: 0 10% 0;
  color: white;
}

header {
  position: sticky;
  top: 0;
  background-color: #0469ef;
  font-family: "Press Start 2P";
  padding: 2% 25%;
}

section {
  background-color: white;
  color: black;
  padding: 5% 25%;
  font-size: 20px;
}

footer {
  height: 100px;
  background-color: #0469ef;
  color: white;
  margin: 0;
}

#premiere {
  color: #ba9c39;
  font-family: "Press Start 2P";
  padding: 10%;
}

.links {
  background-color: #e33d43;
  padding: 5% 10%;
  margin: 5% 10%;
  /* width:400px; */
}

a {
  margin: 15px;
  text-decoration: none;
  color: white;
}
