body {
  text-align: center;
  font-family: Helvetica;
  background-color: #fff0bc;
  margin: 0 10% 0;
  color: white;
  line-height: 1.6;
}

h1 {
  font-size: 40px;
}

header {
  position: sticky;
  top: 0;
  background-color: #0469ef;
  font-family: "Press Start 2P";
  padding: 15px;
}

section {
  background-color: white;
  color: black;
  padding: 2% 15%;
  font-size: 20px;
}

footer {
  height: 50px;
  background-color: #0469ef;
  color: white;
  font-weight: 100;
  padding: 2%;
}

#text {
  text-align: justify;
}

.gold {
  color: #ba9c39;
  font-family: "Press Start 2P";
  padding: 5%;
}

.links {
  background-color: #e33d43;
  padding: 15px 0px;
  width: 500px;
  margin: 5% auto;
  border-radius: 10px;
}

a {
  margin: 15px;
  text-decoration: none;
  color: white;
}
